Fiona
folium
future
geographiclib
geopandas
geopy
geotext
glob2
h5py
HeapDict
html5lib
jieba
matplotlib
matplotlib-inline
networkx
nltk
numpy
pandas
Pillow
pyproj
requests
scikit-image
scikit-learn
scikit-learn-intelex
scipy
seaborn
Shapely
six
spacy
spacy-legacy
spacy-loggers
torch
torchvision
tqdm
transformers
xlrd
XlsxWriter
xlwt
xmltodict
